* {
    color: black;
    text-decoration: none;
    text-align: center;
}

ul {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

h1 {
    margin-bottom: 100px;
    font-size: 4.5em;
}

.navbar:hover {
    background-color: aquamarine;
}

.newyeartimer:hover {
    background-color: bisque;
}

.YT:hover {
    background-color: red;
}

.quiz:hover {
    background-color: violet;
}