@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.header {
    height: 180px;
    padding-left: 90px;
    position: relative;
    display: flex;
    justify-content:flex-start;
    margin: 0 auto;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.search_bar {
    border: 2px solid rgb(14, 209, 69);
    width:600px;
    min-width: 600px;
    height: 49px;
    text-align: center;
}

.search_bar input {
    position: relative;
    bottom: 0px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    width: 477px;
    height: 30px;
    font-size: 18px;
    font-weight: 700;
    outline: none;
}

#search_icon {
    padding-left: 17px;
    padding-bottom: 17px;
    padding-right: 17px;
    padding-top: 17px;
    font-size: 15px;
    color:white;
    background-color: rgb(14, 209, 69);
    border: 0px solid rgb(14, 209, 69);
}

#search_icon:hover {
    cursor: pointer;
}

#keyboard {
    padding-right: 10px;
    color: rgb(182, 182, 182);
    font-size: 15px;
}

#caret_down {
    color: rgb(14, 209, 69);
}

.logo img { 
    width: 230px;
    height: 65px;
    padding-right: 20px;
    padding-left: 100px;
}

.favorite {
    display: flex;
    position: relative;
    top: -62px;
    padding-right: 10px;
    width: 160px;
    height: 20px;
    justify-content: end;
    border-right: 1px solid lightgray;
}

.favorite a {
    font-size: 11px;
    color: black;
    text-decoration: none;
}

.favorite2 a {
    text-decoration: none;
}

#favor_icon {
    font-size: 15px;
    text-shadow: 0.5px 0.5px 3px black ;
}

.favorite2 {
    display: flex;
    width: 120px;
    height: 137px;
    justify-content: space-around;
}

#junior {
    font-family: 'Jua', sans-serif;
    font-size: 10.5px;
    font-weight: 600;
    letter-spacing: 1px;
    color:rgb(182, 179, 179);
}

#happybean {
    font-family: 'Jua', sans-serif;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    color:rgb(182, 179, 179);
}

.list {
    display: flex;
    width: auto;
    height: 60px;
    border-bottom: 1px solid lightgrey;
}

.green_li {
    display: flex;
    width: 610px;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;

}

#mail {
    font-size: 20px;
}

#live {
    font-size: 20px;
}

#live i {
    position: relative;
    right: 13px;
    bottom: 4px;
    font-size: 1px;
    color: white;   
}

.black_li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.green_li a {
    margin: 0;
    padding: 5px;
    text-decoration: none;
    color: rgb(14, 209, 69);
}

.black_li a {
    margin: 0;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.more_btn {
    position: relative;
    margin: 20px;
}

.more_btn a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.weather {
    width: 400px;
    justify-content: center;
    height: 50px;	
    overflow: hidden;
}

.weather h4 {
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;

    animation: example1 5s linear infinite;
}
   /* Move it (define the animation) */

@keyframes example1 {
    0%   {
    transform: translateY(500%); 		
    }
    40%   {
    transform: translateX(0%); 		
    }
    60%   {
    transform: translateX(0%); 		
    }
    100% { 
    transform: translateY(-500%); 
    }
}




