@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.header {
    height: 180px;
    min-width: 1200px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.search_bar {
    border: 2px solid rgb(14, 209, 69);
    margin-left: 30px;
    width:590px;
    min-width: 590px;
    height: 55px;
    align-items: center;
}

.search_bar input {
    position: relative;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    width: 459px;
    height: 30px;
    font-size: 18px;
    font-weight: 700;
    outline: none;
}

#search_icon {
    float: right;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 16px;
    padding-top: 15px;
    font-size: 25px;
    color:white;
    background-color: rgb(14, 209, 69);
    border: 0px solid rgb(14, 209, 69);
}

#search_icon:hover {
    cursor: pointer;
}

#keyboard {
    padding-right: 10px;
    color: rgb(182, 182, 182);
    font-size: 15px;
}

#caret_down {
    color: rgb(14, 209, 69);
    padding-right: 1px;
}

.logo img { 
    width: 230px;
    height: 65px;
}

.favorite {
    display: flex;
    position: relative;
    top: -62px;
    padding-right: 10px;
    width: 160px;
    height: 20px;
    justify-content: end;
    border-right: 1px solid lightgray;
}

.favorite a {
    font-size: 11px;
    color: black;
    text-decoration: none;
}

.favorite2 a {
    text-decoration: none;
}

#favor_icon {
    font-size: 15px;
    text-shadow: 0.5px 0.5px 3px black ;
}

.favorite2 {
    display: flex;
    width: 120px;
    height: 137px;
    justify-content: space-around;
}

#junior {
    font-family: 'Jua', sans-serif;
    font-size: 10.5px;
    font-weight: 600;
    letter-spacing: 1px;
    color:rgb(182, 179, 179);
}

#happybean {
    font-family: 'Jua', sans-serif;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    color:rgb(182, 179, 179);
}

.list {
    display: flex;
    justify-content: center;
    width: auto;
    min-width: 1200px;
    height: 60px;
    border-bottom: 1px solid lightgrey;
}

.green_li {
    display: flex;
    width: 425px;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;

}

#mail {
    font-size: 20px;
}

#live {
    font-size: 20px;
}

#live i {
    position: relative;
    right: 13px;
    bottom: 4px;
    font-size: 1px;
    color: white;   
}

.black_li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.green_li a {
    margin: 0;
    padding: 5px;
    text-decoration: none;
    color: rgb(14, 209, 69);
}

.green_li .shop {
    padding-bottom: 2px;
    font-weight: 100;
    font-family: 'Jua', sans-serif;
}

.black_li a {
    margin: 0;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.more_btn {
    position: relative;
    margin: 20px;
}

.more_btn a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.weather {
    position: relative;
    letter-spacing: -1px;
}

.banner1:hover {
    cursor: pointer;
}

.weather .wrap {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 300px;
    justify-content: center;
    align-items: center;
    height: 60px;
    top: 18px;
}

.weather .wrap .banner1 {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    transition: top 0.2s ease;
}

.weather .wrap .banner2 {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 60px;
}

.banner1 .CurrIcon {
    padding-right: 10px;
    font-size: 22px;
}

.banner1 .CurrTemp {
    font-size: 18px;
    padding-right: 8px;
    font-weight: bold;
}

.banner1 .Dsp {
    padding-right: 10px;
    font-size: 14px;
    font-weight: 600;
}

.banner1 .Min {
    font-size: 13px;
    color: rgb(32, 155, 255);
    padding-right: 5px;
    letter-spacing: 0px;
    font-weight: 600;
}

.banner1 .Max {
    font-size: 13px;
    color:rgb(253, 52, 52);
    padding-right: 12px;
    letter-spacing: 0px;
    font-weight: 600;
}

.banner1 .City {
    font-size: 14px;
    color:grey;
}

.Dust span {
    font-size: 13px;
    color: gray;
    padding-right: 10px;
}

.Dust {
    padding-right: 10px;
    font-size: 15px;
    font-weight: 600;
    border-right: 1px solid lightgrey;
}

.Mdust span{
    font-size: 13px;
    color: gray;
    padding-left: 10px;
    padding-right: 10px;
}

.Mdust {
    padding-right: 10px;
    font-size: 15px;
    font-weight: 600;
}

.fas.fa-sun {
    color: orange;
}

.fas.fa-cloud-sun {
    color:darkgrey;
}

.fas.fa-cloud {
    color: grey;
}

.fas.fa-cloud-meatball {
    color: lightskyblue;
}

.fas.fa-cloud-sun-rain {
    color: lightskyblue;
}

.fas.fa-cloud-showers-heavy {
    color: steelblue;
}

.fas.fa-cloud-bolt {
    color: rgb(189, 189, 3);
}

.fas.fa-snowflake {
    color: skyblue;
}

.fas.fa-smog {
    color: grey;
}

.fas.fa-face-grin {
    color:rgb(52, 138, 252);
    font-size: 18px;
    padding-right: 3px;
}

.fas.fa-face-meh {
    color: rgb(14, 209, 69);
    font-size: 18px;
    padding-right: 3px;
}

.fas.fa-face-frown {
    color: darkorange;
    font-size: 18px;
    padding-right: 3px;
}

.fas.fa-face-mask {
    color: rgb(253, 52, 52);
    font-size: 18px;
    padding-right: 3px;
}

/* λΈν†µ */

.news_home .n_home::after {
    content: '';
    display: inline-block;
    border-radius: 50%;
    margin: 8px;
    vertical-align: 1px;
    width: 3px;
    height: 3px;
    background-color: #c8ccd1;

}
