:root {
    --white-color:white;
    --black-color:black ;
    --blue-color:blue;
    --red-color:red;
    --grey-dark-color:rgb(61, 61, 61);
    --grey-light-color:rgb(141, 141, 141);

    --padding: 12px;
    --avatar-size: 36px;

    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

ul {
    list-style: none;
}
li {
    list-style: none;
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: var(--pading);
    background-color: var(--black-color);
    color: var(--white-color);
}

header .logo {
    font-size: 30px;
}

header .logo i {
    color: var(--red-color);
}
header .searchbar {
    background-color: rgb(48, 47, 47);
}

header .icons .fa-search {
    font-size: 25px;
    margin-right: var(--padding);
}
.player {
    text-align: center;
    background: black;
}
.player video {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 1000px;
}

body > .info {
    padding: var(--padding);
}

.info .metadata {
    padding: 20px;
}

.info .metadata .hashtags {
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color);
}

.info .metadata .hashtags li {
    margin-right: var(--padding);
}

.info .metadata .titleAndButton {
    display: flex;
}

.info .metadata .titleAndButton .title {
    font-size: 20px;
    margin-right: var(--padding);
}

.info .metadata .titleAndButton .title .clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

}

.info .metadata .titleAndButton .moreBtn {
    height: 100%;
    transition: transform 300ms ease-in-out;
}

.info .metadata .titleAndButton .moreBtn{
    transform: rotate(180deg);
}

.info .views {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

.info .actions {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.info .actions button {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

.info .actions button i {
    margin: 0 auto;
    margin-bottom: calc(var(--padding) / 2);
    font-size: 16px;
}

.info .actions button i.active {
    color: var(--blue-color);
}

.info .channel {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--grey-light-color);
    border-bottom: 1px solid var(--grey-light-color);
}

.channel .metadata {
    display: flex;
    align-items: center;
}

.channel .metadata img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}

.channel .metadata .info {
    display: flex;
    flex-direction: column;
}

.channel .metadata .info .name {
    font-size: var(--font-medium);
}

.channel .subscribe {
    font-size: var(--font-medium);
}

.channel .metadata .info .subscribe {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

.channel .subscribe {
    text-transform: uppercase;
    color: var(--red-color);
    font: var(--font-medium);
}

.Upnext > .title {
    font-size: var(--font-medium);
    color: var(--grey-dark-color);
    margin-bottom: calc(var(--padding) / 2);
}

.Upnext .item {
    display: flex;
    margin-right: var(--padding);
}

.Upnext .item .img {
    flex: 1 1 35%;
    margin-right: var(--padding);
}

.Upnext .item .img img {
    width: 100%;
}

.Upnext .item .info {
    flex: 1 1 60%;
}

.Upnext .item .moreBtn {
    flex: 1 1 5%;
}

.Upnext .item .info {
    display: flex;
    flex-direction: column;
}

.Upnext .item .info .title {
    font-size: var(--font-small);
}

.Upnext .item .info .name,
.Upnext .item .info .views {
    font-size: var(--font-micro);
    color: var(--grey-dark-color);
}

.infoAndUpNext {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .infoAndUpNext {
        flex-direction: row;
        margin: var(--padding) 0;
    }
}